# Backend Server Configuration
PORT=3001

# Frontend Origin for CORS
FRONTEND_ORIGIN=http://localhost:3000

# JWT Secret Key (Change this in production!)
JWT_KEY=uoa-swap-dev-secret

MONGODB_URI=your_mongodb_uri_here
